body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #eafbea; 
}

h1 {
    color: #006400; 
}

label {
    display: block;
    margin: 10px 0;
    color: #008000; 
}

input {
    padding: 8px;
    margin: 5px 0;
    width: 200px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin: 10px 0;
    background-color: #228b22; 
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #32cd32; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}


#listContainer {
    margin-top: 20px;
}

